@using FicheRecette.Model

<div class="Container Recette">
    <div class="Titre">
        <h2>Ajouter une Recette</h2>
    </div>

    <div class="errors">
        <div class="col-lg-12">
            @if ((ViewBag.errors != null))
            {
                if ((ViewBag.errors as List<string>).Count > 0)
                {
                    <div class="row RecetteLine">
                        <div class="row1">
                            <div class="col-lg-12 alert alert-danger">
                                @foreach (string e in (ViewBag.errors as List<string>))
                                {
                                    <div class="row1">
                                        <div class="col-lg-12">
                                            @e
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <form method="post" asp-controller="Recette" asp-action="AjouterRecettePost" enctype="multipart/form-data">
        <div class="row RecetteLine">
            <div class="col-lg-8">

                <label>Veuillez saisir le nom de la recette : </label>
                <div class="row1">
                    <input type="text" class="form-control" value="@Model.NomRecette" name="nomRecette" />
                </div>
            </div>
            <div class="col-lg-4">
                <label>Choisissez la catégorie : </label>
                <div class="row1">
                    <select name="NomCategory" class="form-control">
                        <option></option>
                        @foreach (Category c in (ViewBag.Liste as List<Category>))
                        {
                            <option value="@c.Titre">@c.Titre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <label>Nombre de personne(s) : </label>
                <select class="selectpicker" name="NbPersonne" size="1" value="@Model.NbPersonne">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="col-lg-4">

                <label>Choisissez la difficulté : </label>
                <select class="selectpicker" name="Difficulte" size="1" value="@Model.Difficulte">
                    <option value="*">*</option>
                    <option value="**">**</option>
                    <option value="***">***</option>
                    <option value="****">****</option>
                    <option value="*****">*****</option>

                </select>
            </div>
            <div class="col-lg-4">
                <label>Ajouter une image : </label>
                <div class="row1">
                    <input type="file" name="images" multiple placeholder="Les images de la recette" class="form-control" />
                </div>

            </div>
        </div>

        <div class="row RecetteLine">

            <label>Veuillez saisir la liste des ingrédients : </label>
            <div class="row1">
                <textarea value="@Model.Ingredient" name="ingredient" class="form-control" placeholder="Liste d'ingrédients"> </textarea>

            </div>
        </div>
        <div class="row RecetteLine">
            <label>Veuillez saisir les étapes de la réalisation : </label>
            <div class="row1">
                <textarea value="@Model.Realisation" name="realisation" class="form-control" placeholder="Description de la réalisation"> </textarea>
            </div>
        </div>

        <div class="row RecetteLine">
            <div class="row1">
                <div class="text-center">
                    <button type="submit">Ajouter</button>
                </div>
            </div>            
        </div>
    </form>
</div>